# Entorno de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Archivos de entorno / secretos
.env
.env.*

# Archivos de editor / sistema
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Archivos de cobertura / tests
.pytest_cache/
.coverage
htmlcov/

